*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.carousel-container {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
}


.carousel {
    display: flex;
    animation: moveLogos 40s linear infinite;
}

.logo {
    flex: 0 0 auto;
    width: fit-content;
    margin: 0 30px; /* Ajusta la separación entre los logos */
    height: 60px;
}

@keyframes moveLogos {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}